[Desktop Entry]
Version=0.1
Name=Sayonara Player
GenericName=Media player
Comment=Music player and music library admininstration
Exec=sayonara
Icon=/usr/share/sayonara/logo.xpm
Terminal=false
Type=Application
Categories=AudioVideo;Player;

